body {
    background-color: navy;
    color: azure;
}
/* 
#main-body {
    background-image: url("../images/body.jpg");
    background-size: 100% cover;
    color: azure;
    position: relative;
    top: -100;
} */